.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s;
}

@keyframes heart {
from {
  transform: scale(1);
}
to {
  transform: scale(1.25);
}
}

@keyframes sparks {
  from {
opacity: 0;
  }
  to {
opacity: 1;
  }
}